body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; /* Cinza claro de fundo */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #2ecc71; /* Verde esmeralda */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7; /* Cinza claro */
}

button {
    background-color: #2ecc71; /* Verde esmeralda */
    color: #ffffff; /* Branco */
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60; /* Verde um pouco mais escuro ao passar o mouse */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2ecc71; /* Verde esmeralda */
    color: #ffffff; /* Branco */
}
#form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    background-color: #ffffff;
    color: #2c3e50; 
    cursor: pointer;
}

.form-group select:hover {
    border-color: #34495e; 
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}


.form-group select:focus {
    outline: none;
    border-color: #2ecc71; 
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); 
}

h1 {
    text-align: center;
    color: #2ecc71; 
    margin-bottom: 30px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1:hover {
    color: #27ae60; 
    cursor: pointer;
    transform: scale(1.05);
    transition: color 0.3s, transform 0.3s;
}

.actions-menu {
    display: flex;
    gap: 5px;
}

.actions-menu button {
    background-color: #3498db; 
    color: #ffffff; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.actions-menu button:hover {
    background-color: #2980b9; 
}
